html{
    font-size: 62.5% /* equivale a 10 px*/
        }
div{
    background-color: red;
    padding: 10px;/*tambem pode ser usado rem ,  mais tem que ver a necessidade */
    width: 10rem;
    height:10rem ;
    font-size: 16px;
}
p{
    font-size: 2rem;
}
h1{
    font-size: 2rem;
}

section{
    font-size: 2rem;
}