*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* border box é um modelo ontem vai definir o tamanho real da atura ou largura que voce coloca no elemento ) tudo sera convertido em altura ou largura , margin , padding e etc . so olha no box model sempre usar ela*/
}

div{

    border:  solid 2px black ;
    padding: 10px ;
    height: 200px;

}