 /* pseudo elementos não representa um estado 
    usa :: ao inves de um 
    
    */

    p::after{
        content: 'Textinho que vai entrar no final ';
    }
    p::before{
        content: 'Textinho que vai entrar no começo';
    }
    
    p::first-letter{  /*vai formatar apenas a primeira letra do paragrafo */
        font-size: 60px;
    }
    p::first-line{   /**muda apenas a primeira linha do Paragrafo */
        color: red;
    }
   