/*  seletor universal é um seletor  que seleciona todos os elementos da pagína dentro do body
        é muito util quando queremos selecionar tudo e fazer algo especifico . como espaçamentos internos e externo , margens e etc
        toda vez que entrar no html vamos usar o seletor universal margem e padding zero , espaços fazemos manualmente
        
        */

        /* heranças de estilos = todos os elementos filhos de um elemento vão herder o estilos do elemnto */
        * {
            color: brown;
            margin: 0px;
            padding: 0px;
        }
        html{  /*sempre usar **/
            font-size: 62.5%; 
        }

        body{   /* heranças de estilos = todos os elementos filhos de um elemento vão herder o estilos do elemnto 
              é muito util assim podemos utilizar um estilo uma unica vez colocando no elemento que engloba*/ 
            color: red;
            font-family: 'Montserrat',sans-serif;
        }
        h1 {
            color: blue;
            margin-bottom: 2rem;
            font-size: 3.2rem;
        }

        h2 {
            margin-bottom: 1rem;
            font-size: 2.4rem;
        }

        p {
            margin-bottom: 1rem;
            font-size: 1.6rem;
        }