* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*estudar*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;

}

html {
    font-size: 65.2%;
}

body {
    line-height: 1.4rem;
    padding: 24PX;
}

h2, /*GLOBAL*/
a,
ul,
h3 {
    padding: 24px;
}

h1,
figure {
    padding: 32px;
    font-size: 32x;
}


p,
li {
    padding: 6px;
}

main h2 a {
    /**FIZ ASSIM*/
    padding: 0;
}

figure figcaption {
    margin-left: 32px;
}

h1::first-letter {
    font-size: 64px;
}

a:hover {
    color: #0588c4;
}

.bloco-condicoes {

    display: inline-block;
    background-color: #035276;
    color: #fff;
    border-radius: 20px;
}


footer section img {
    position: fixed;
    width: 50px;
}