* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

body {}

header {
    background-color: red;
    position: fixed;

}

header img {
    position: fixed;

}

ul {
    left: 25.5rem;
    position: relative;

}

li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 2.0rem;
}