* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

body{
    font-size: 1.8rem;
    font-family: "Montserrat",sans-serif;
}

header {
    background-color: red;
    height: 15.5rem;
}

nav{
    border: 2px solid rgb(29, 177, 6);
    background-color: #112E61;
    display: inline-block;
}

ul  {
    left: 25.5rem;
    position:fixed;
    font-size: 1.0rem;
}

li {
   display: inline;
    text-transform: uppercase;
    margin-left: 2.0rem;
    color: #112E61;
    font-weight: bold;
}