/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}
body{
    font-family: "Montserrat", sans-serif;
    color: #404040;
    font-size: 1.6rem;
    line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: "Montserrat", sans-serif;
    color: #404040;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

p {
    font-size: 1.6rem;
}

strong {
    font-weight: 600;
}
/*a:link,
a:visited{

}*/
/*a:hover,
a:active{
    color: #f7a60c;
}*/


h2 {
    font-size: 3.5rem;
    font-weight: normal;
}

.botao {
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
}

.realce-semibold{
    font-weight: 600;
}
.cabecalho{
    padding: 1.28rem 2.5rem;
}
nav ul{
    list-style: none;
}

/*--Desafio02 completando o cabeçalho-*/
.item-lista-cabecalho a {
    color: #112e61;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;

}
.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active{
    color: #f60c;
}
.item-lista-cabecalho.contemfilhos::after{
    content: "\25BC";
}


/*secao hero*/
.hero-paragrafo {
    font-size: 1.9rem;
}



.gratuito-realce {
    color: #7a40be;
    font-weight: 600;


}

.gratuito-h3 {
    font-size: 2.3rem;
    font-weight: 700;
}

.gratuito-item-lista {
    font-size: 1.9rem;
    text-decoration: none;

}

.diferenciais-p {
    font-size: 19px;
}

.diferenciais-h3 {
    color: #112e61;
    font-size: 2.4rem;
    font-weight: 600;
}

.diferenciais-h3-empresa {
    font-size: 3.5rem;
    font-weight: 400;
}

.diferenciais-h3-empresa a {
    color: #112e61;
    font-weight: 700;
    text-decoration: none;
}

.blog-postadoem {
    font-size: 1.5rem;


}

.blog-postadoem a {
    font-weight: bold;
    text-decoration: none;
    color: #f7a70c;
}

.blog-titulopost {
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;

}

.blog-descricaopost {
    font-size: 1.7rem;

}



.comoajudar-lista .comoajudar-paragrafo {
    font-size: 1.9rem;
}

.comoajudar-lista a,
.comoajudar-paragrafo a {
    color: #112e61;
    font-weight: 600;

}

.comoajudar-paragrafo b {
    font-weight: 600;
}
.rodape-titulo{
    font-weight: 600;
    font-size: 2.2rem;

}
.rodape-subtitulo {
    font-size: 2.0rem;
    font-weight: 500;
}
.rodape-seg-subtitulo{
    font-weight: 500;
    font-size: 1.8rem;
}
.rodape-link {
    color: #112e61;
    font-weight: bold;
    font-size: 1.6rem;
}