*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}
body{
    font-family: "Montserrat"sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #404040;
}
h1{
    font-size: 3.32rem;
}
h2{
    font-size: 2.76rem;
}