*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
body{
    font-family: "Montserrat"sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #404040;
}
h1{
    font-size: 3.32rem;
}
h2{
    font-size: 2.76rem;
}
main{
    display: flex;
    gap: 4rem; /*espaçamento horizontal e vertical */
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column wrap; /* flex-direction flex-wrap */
}
section{
    background-color: rgb(249, 125, 125);
}
section:nth-child(2){
    background-color: aquamarine;
}
section:nth-child(3){
    background-color: blue;
}